<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="element : ${product}" class="alert alert-primary mt-2">
        <img class="img" height="200px" th:src="@{'/images/'+${element.images.get(0).id}}"/>
        <img class="img" height="200px" th:src="@{'/images/'+${element.images.get(1).id}}"/>
        <img class="img" height="200px" th:src="@{'/images/'+${element.images.get(2).id}}"/><br><br>
        <h2 th:text="${element.title}"/>
        <p><b>Описание: </b><span th:text="${element.description}"/></p>
        <p><b>Цена: </b><span th:text="${element.price}"/></p>
        <p><b>Город: </b><span th:text="${element.city}"/></p>
        <p><b>Продавец: </b><span th:text="${element.author}"/></p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a th:href="'/products/'+${element.id} + '/edit'" class="btn btn-primary btn-sm">Редактировать</a>
            <form th:action="'/products/' + ${element.id} + '/remove'" method="post">
                <button class="btn btn-primary btn-sm" type="submit">Удалить</button>
            </form>
        </div>

    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>

</html>